:root {
  /* general */
  --c-h2-segundario: violet;
  /* header */
  --c-header-background:#1234;
  --c-header-links:#fff;
  --c-header-links-hover:#000;
  /* tarjetas trabajos*/
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;

  /* colores seccion contacto */


  /* footer */
  --c-footer-background: #1234;
  --c-footer-icons: #000000;
  --c-footer-text:#000000;

  --c-footer-follow: #000000;
  --c-footer-follow-hover: #FFF;

  --margintop:50px;
}

/* general */
a {
  text-decoration: none;
}
h2 span{
  color: var(--c-h2-segundario);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bg{
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    opacity: 0.3;
    z-index: -10;

    background-color: #e5e5f7;
    opacity: 0.3;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 37.5px 37.5px, linear-gradient(#000dff 3px, transparent 3px) 0 -1.5px, linear-gradient(90deg, #000dff 3px, #e5e5f7 3px) -1.5px 0;
    background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
}
/* NAV */
header{
  background-color: var(--c-header-background); 
  color: var(--c-header-links);
  font-family: 'Fredoka One', cursive;
  align-items:center;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
  position: fixed;
  z-index: 20;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
nav{
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  text-decoration: underline;
  margin-right: 30px;
}
nav article{
  float: left;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
nav ul li{

}
nav ul li a{
  color: var(--c-header-links);
  text-decoration: none;
  padding: 1rem 1rem;
}
nav ul li a:hover{
  background-size: 100% 2px;
  color: var(--c-header-links-hover);
  text-decoration: underline;
}
/* main */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding-top: 60px;
}

/* css tarjetas de servicios */
.main-servicios {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  max-width: 944px;
  gap: 1rem;
  /* text-align: unset;
  margin-right: unset;
  margin-left: unset; */
}

.contenedor-servicios article {
  display: flex;
  align-items: flex-start;
  border: 1px solid #aaa;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-around;
  /* margin: 1rem;
  padding: 2rem 2rem; */
  text-align: left;
  width: 14rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

  background-color: #e5e5f7c0;

}

.contenedor-servicios article img {
  height: 70px;
  width: 70px;
  margin: 1rem auto;
  
}

.contenedor-servicios article h3 {
  /* margin: 3rem 1rem 2rem; */
  margin: 1rem auto 1rem;
}

.contenedor-servicios article p {
  font-size: 1.3rem;
  margin: 0rem auto 2rem;
  width: 80%;
}
@media (max-width: 520px) {
  .contenedor-servicios {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    max-width: 944px;
  }
}
@media (min-width: 521px) {
  .contenedor-servicios {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 944px;
  }
}
@media (min-width: 1020px) {
  .contenedor-servicios {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 944px;
  }
}
/* css trabajos */

.main-trabajos {
  text-align: center;

}

.contenedor-trabajos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  gap: 1rem;
  place-content: center;
}

.trabajos-tarjeta {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  /* padding: 1rem; */
  border-radius: 5%;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.trabajos-tarjeta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
  background-image: url(./imagen1.jpeg);
}

.trabajos-tarjeta::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.trabajos-tarjeta-contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.trabajos-tarjeta-contenedor>*+* {
  margin-top: 1rem;
}

.trabajos-tarjeta-contenedor h2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.trabajos-tarjeta-contenedor p {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.trabajos-tarjeta-contenedor a {}

.trabajos-tarjeta-contenedor a button {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.trabajos-tarjeta-contenedor a button:hover {
  background-color: #0d0d0d;
}

.trabajos-tarjeta-contenedor a button:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .trabajos-tarjeta:after {
    transform: translateY(0);
  }

  .trabajos-tarjeta-contenedor {
    transform: translateY(calc(100% - 4.5rem));
  }

  .trabajos-tarjeta-contenedor>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .trabajos-tarjeta:hover,
  .trabajos-tarjeta:focus-within {
    align-items: center;
  }

  .trabajos-tarjeta:hover:before,
  .trabajos-tarjeta:focus-within:before {
    transform: translateY(-4%);
  }

  .trabajos-tarjeta:hover:after,
  .trabajos-tarjeta:focus-within:after {
    transform: translateY(-50%);
  }

  .trabajos-tarjeta:hover .trabajos-tarjeta-contenedor,
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor {
    transform: translateY(0);
  }

  .trabajos-tarjeta:hover .trabajos-tarjeta-contenedor>*:not(.title),
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .trabajos-tarjeta:focus-within:before,
  .trabajos-tarjeta:focus-within:after,
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor,
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor>*:not(.title) {
    transition-duration: 0s;
  }
}
/* css nosotros */
.main-nosotros{
  text-align: center;
}
.contenedor-nosotros{
  
}
/* css contacto */
.main-contacto {
  text-align: center;
}

.contenedor-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-content: center;
}

.contenedor-contacto form {
  border: 1px solid #aaa;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
  width: 75%;
}

.info-contacto {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.info-contacto article {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.info-contacto article div {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: -1rem 0rem 0rem;

}
.info-contacto article div a{
  color:var(--c-contact-text);
}

@media (max-width: 660px) {
  .contenedor-contacto {
    grid-template-columns: auto;
  }
}


/* footer */
.footer {

}

.footer section {
  text-align: center;
  background-color: var(--c-footer-background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  height: 250px;
}
.footer-texto{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 100%;
  /* justify-content: center; */
  width: fit-content;
}
.footer-texto article{
display: flex;
gap: 0.5rem;
margin-bottom: 0rem;
align-items: center;
}
.footer-texto  article div {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: -1rem 0rem 0rem;  
}
.footer-texto h3{
  margin-top: var(--margintop);
}
.footer-texto  article div h3{
  margin-top: 19px;
  margin-bottom: 0;
}
.footer-texto article div a{
  color:var(--c-contact-text);
}
.footer-follow{
  width: fit-content;
  display: flex;
  flex-flow: column;
  /* align-content: center; */
  margin: 0 20px;
  height: 100%;
}
.footer-follow h3{
  margin-top: var(--margintop);
}
.footer-follow article{
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
}
.footer-follow article a{
  color: var(--c-footer-follow);
  padding: 5px;
}
.footer-follow article a:hover{
  color: var(--c-footer-follow-hover);
}
.footer-follow article a svg{
  width: 30px;
  height: 30px;
}
.footer-enlaces{
  width: fit-content;
  display: flex;
  flex-flow: column;
  /* align-content: center; */
  margin: 0 20px;
  height: 100%;
}
.footer-enlaces h3{
  margin-top: var(--margintop);
}
.footer-enlaces ul{
  list-style: none;
  margin: auto;
  padding: 0;
  margin-top: 0;
  text-align: left;
}
.footer-enlaces ul li{
  margin:5px;
}
.footer-enlaces ul li a{
  color: #e5e5f7;
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-enlaces ul li a:hover{
  color: #e4e400;
}
.footer section svg {
  max-width: 90vw;
}
/* css iconos contacto */
.svg-icon {
  width: 20px;
  height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--c-footer-icons);
}

.svg-icon circle {
  stroke: var(--c-footer-icons);
  stroke-width: 1;
}
.copyright h3{
  margin-top: var(--margintop);
}
.copyright p{
margin-bottom: 0;
}