:root {
  /* general */
  --c-h2-segundario: #670afce3;
  
  /* header */
  --c-header-background:#6c4796;
  --c-header-links:#fff;
  --c-header-links-hover:#000;
  /* tarjetas trabajos*/
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
  /*colores seccion Nosotros */
  --c-nosotros-principal:#670afce3;
  --c-nosotros-nombre:#000;
  --c-nosotros-background:#fff;
  /* colores seccion contacto */


  /* footer */
  --c-footer-background: #181710;
  --c-footer-h3:#bdcdffad;
  --c-footer-text:#547DF7;

  --c-footer-icons: #547DF7;  

  --c-footer-follow: #547DF7;
  --c-footer-follow-hover: #3a57ac;

  --c-footer-links:#547DF7;
  --c-footer-links-hover:#3a57ac;

  --margintop:50px;
}

/* general */
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
.bg{
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    opacity: 0.3;
    z-index: -10;

    background-color: #e5e5f7;
    opacity: 0.3;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 37.5px 37.5px, linear-gradient(#000dff 3px, transparent 3px) 0 -1.5px, linear-gradient(90deg, #000dff 3px, #e5e5f7 3px) -1.5px 0;
    background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
}
/* NAV */
header{
  background-color: var(--c-header-background); 
  color: var(--c-header-links);
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Orbitron', sans-serif;
  align-items:center;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}
.nav-movile{
  display: none;
}
nav{
  max-width: 1200px;
  margin: auto;
  display: block;
  text-decoration: none;

}
nav .logo{
  position: fixed;
    transform: translate(-45px, -71px);
}
.logo-movile,.nav-movile-background, header section{
  display: none;
}
.logo-normal{
  display: block;
}
.logo-s{
  display: none;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
nav ul li{

}
nav ul li a{
  color: var(--c-header-links);
  text-decoration: none;
  padding: 1rem 1rem;
  transition: color 0.2s linear 0.01s;
  

}
nav ul li a:hover{
  background-size: 100% 2px;
  color: var(--c-header-links-hover);
  text-decoration: underline;
}
@media (max-width: 630px) {
  .logo-normal{
    display: none;
  }
  .logo-s{
    display: block;
  }
}
@media (max-width: 538px) {
  header{
    background-color: unset; 
    box-shadow: unset;
    padding: unset;
  }
  header section{
    display: flex;
    justify-content: center;
    align-items: unset;

    top:0;
      background-color: var(--c-header-background); 
    color: var(--c-header-links);
    font-family: 'Fredoka One', cursive;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
    position: fixed;
    z-index: 20;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
  }
  .nav-movile {
    display: block;

  }
  .logo-movile{
    display: unset;
    margin: 0 auto;
    transform: translateX(-25%);

  }
  .logo-movile img{
    width: 220px;
    position: fixed;
    transform: translate(-138px, -82px);
  }
  .logo{
    display: none;
  }
  nav{
      display: none; 
      animation: navCierre 3s ease 1;
  }
  nav.abierto{
    display: block;
    float: left;
    animation: navDespliegue 1s ease 1;
  }
  @keyframes navDespliegue {
    0%{transform: translateX(-100%)}
    100%{transform: translateX(0.2%);}
  }
   @keyframes navCierre {
    0%{transform: translateX(-5%);}
    100%{transform: translateX(-100%) }
  } 
  nav ul li a{
    color: black;
  }
  
  nav.abierto ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 80px;
    z-index: 20;
    width: 50vw;
    margin-left: 15px;
}
nav.abierto .nav-movile-background{
    display: block;
    width: 50vw;
    min-width: 122px;
    height: 100vh;
    background-color: white;
    z-index: -20;
    position: absolute;
    box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3);
  }
nav.abierto ul li{
  margin: 7px 0;
}
nav.abierto ul li a{
  padding: 0.5rem 1rem;
}
}


/* main */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding-top: 60px;
}
main h2{
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
}
h2 span{
  color: var(--c-h2-segundario);
  
}

/* css tarjetas de servicios */
.main-servicios {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  max-width: 944px;
  gap: 1rem;
  
  /* text-align: unset;
  margin-right: unset;
  margin-left: unset; */
}

#maquina-escribir{
  border-right: 3px solid black;
  margin: 0;
  background: yellow;

}
.contenedor-servicios article {
  display: flex;
  align-items: flex-start;
  border: 1px solid #aaa;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-around;
  /* margin: 1rem;
  padding: 2rem 2rem; */
  text-align: left;
  width: 14rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.25s linear 0.01s;
  background-color: #e5e5f7c0;

}
.contenedor-servicios article:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), 0 16px 16px rgba(0, 0, 0, 0.3);
}
.contenedor-servicios article img {
  height: 70px;
  width: 70px;
  margin: 1rem auto;
  
}

.contenedor-servicios article h3 {
  /* margin: 3rem 1rem 2rem; */
  margin: 1rem auto 1rem;
  font-family: 'Orbitron', sans-serif;
}

.contenedor-servicios article p {
  font-size: 1.3rem;
  margin: 0rem auto 2rem;
  width: 80%;
}
@media (max-width: 520px) {
  .contenedor-servicios {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    max-width: 944px;
  }
}
@media (min-width: 521px) {
  .contenedor-servicios {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 944px;
  }
}
@media (min-width: 1020px) {
  .contenedor-servicios {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 944px;
  }
}
/* css trabajos */

.main-trabajos {
  text-align: center;

}

.contenedor-trabajos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  gap: 1rem;
  place-content: center;
}

.trabajos-tarjeta {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  /* padding: 1rem; */
  height: 265px;
  border-radius: 5%;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.trabajos-tarjeta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
  /* background-image: url(./imagen1.jpeg); */
}

.trabajos-tarjeta::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.trabajos-tarjeta-contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.trabajos-tarjeta-contenedor>*+* {
  margin-top: 1rem;
}

.trabajos-tarjeta-contenedor h2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.trabajos-tarjeta-contenedor p {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.trabajos-tarjeta-contenedor a {
  margin-top: 0;
}

.trabajos-tarjeta-contenedor a button {
  cursor: pointer;
  margin-top: 0;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.trabajos-tarjeta-contenedor a button:hover {
  background-color: #0d0d0d;
}

.trabajos-tarjeta-contenedor a button:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .trabajos-tarjeta:after {
    transform: translateY(0);
  }

  .trabajos-tarjeta-contenedor {
    transform: translateY(calc(100% - 4.5rem));
  }

  .trabajos-tarjeta-contenedor>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .trabajos-tarjeta:hover,
  .trabajos-tarjeta:focus-within {
    align-items: center;
  }

  .trabajos-tarjeta:hover:before,
  .trabajos-tarjeta:focus-within:before {
    transform: translateY(-4%);
  }

  .trabajos-tarjeta:hover:after,
  .trabajos-tarjeta:focus-within:after {
    transform: translateY(-50%);
  }

  .trabajos-tarjeta:hover .trabajos-tarjeta-contenedor,
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor {
    transform: translateY(0);
  }

  .trabajos-tarjeta:hover .trabajos-tarjeta-contenedor>*:not(.title),
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .trabajos-tarjeta:focus-within:before,
  .trabajos-tarjeta:focus-within:after,
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor,
  .trabajos-tarjeta:focus-within .trabajos-tarjeta-contenedor>*:not(.title) {
    transition-duration: 0s;
  }
}
/* css nosotros */
.main-nosotros{
  text-align: center;
}
.contenedor-nosotros {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  gap: 1rem;
  place-content: center;
}
.contenedor-nosotros .card{
  /* width: calc(100% / 3 - 10px); */
  width: 170px;
  background: var(--c-nosotros-background);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.contenedor-nosotros .card:hover{
  /* transform: translateY(-15px); */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), 0 16px 16px rgba(0, 0, 0, 0.3);
}
.contenedor-nosotros .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedor-nosotros .card .content .img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 7px;
  background: var(--c-nosotros-principal);
  margin-bottom: 14px;
}
.contenedor-nosotros .card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid var(--c-nosotros-background);
  border-radius: 50%;
  object-fit: cover;
}
.contenedor-nosotros .card .content .name{
  color: var(--c-nosotros-nombre);
  font-size: 20px;
  font-weight: 500;
}
.contenedor-nosotros .card .content .job{
  font-size: 20px;
  color: var(--c-nosotros-principal);
}
.contenedor-nosotros .card .content .media-icons{
  margin-top: 10px;
  display: flex;
}
.contenedor-nosotros .media-icons a{
      display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: var(--c-nosotros-background);
  border-radius: 50%;
  border: 2px solid transparent;
  background: var(--c-nosotros-principal);
  transition: all 0.3s ease;
}
.contenedor-nosotros .media-icons a:hover{
  color: var(--c-nosotros-principal);
  background-color: var(--c-nosotros-background);
  border-color: var(--c-nosotros-principal);
}


/* css contacto */
.main-contacto {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contenedor-contacto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 1rem;
  place-content: center;
}
/* formulario */
.contenedor-contacto form {
  border: 1px solid #aaa;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 40rem;
  padding: 3%;
  width:90%;
  background-color: #ffffffa9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

 form input, #textArea, #selectAsunto{
  margin-bottom: 3%;
}
form #inputNombre, #inputCorreo{
  border:0;
  border-bottom: #7325f169 solid;
  outline: none;
  width: 98%;
  color: black;
  letter-spacing: 2px;
  font-size: medium;
}

form label {
  text-align: left;
  margin-bottom: 2%;
  letter-spacing: 2px;
  color: #3a098adc;
  font-style: bolder;
  font-size: larger;
}

form #inputNombre:focus, #inputCorreo:focus {
  border-bottom: solid #39088ab9;
  animation:ease-in 2s ;
  animation: inputColor 1s infinite;
}
#selectAsunto {
background-color: #670afce3;
color: white;
height: 10%;
font-size: medium;
outline: none;

padding-left: 2%;
letter-spacing: 0.5px;
}



#selectAsunto:hover{

  background-color:  #8d48fdee ;
}

/* #selectAsunto option::selection::after{
  background-color: #670afc3b;
  padding: 3%;

} nofunca */

form #textArea {
  outline: none;
  overflow-y: hidden!important;

}
.boton {
  height: 2rem;
  border: none ;
  background-color: #9c64f5a4 ;
  color: white;
  border-radius: 1rem;
}

.boton:hover{
  background-color: #670afce3;
    color: white;
    /* font-size: larger; */
    box-shadow: 0 0 10px #7325f169, 0 0 40px #7325f169, 0 0 80px #7325f169;
    border: #fff;
    
  }

.info-contacto {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.info-contacto article {
  display: none;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.info-contacto article div {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: -1rem 0rem 0rem;

}
.info-contacto article div a{
  color:var(--c-contact-text);
}

@media (max-width: 660px) {
  .contenedor-contacto {
    grid-template-columns: auto;
  }
}


/* footer */
.footer {
  background-color: var(--c-footer-background);
  color: var(--c-footer-text);
}
footer h3{
  color: var(--c-footer-h3);
}
.footer section {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-bottom: 30px;
}
.footer-texto{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 100%;
  /* justify-content: center; */
  width: fit-content;
}
.footer-texto article{
display: flex;
gap: 0.5rem;
margin-bottom: 0rem;
align-items: center;
}
.footer-texto  article div {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: -1rem 0rem 0rem;  
}
.footer-texto h3{
  margin-top: var(--margintop);
}
.footer-texto  article div h3{
  margin-top: 19px;
  margin-bottom: 0;
}
.footer-texto article div a{
  color:var(--c-contact-text);
}
.footer-follow{
  width: fit-content;
  display: flex;
  flex-flow: column;
  /* align-content: center; */
  margin: 0 20px;
  height: 100%;
}
.footer-follow h3{
  margin-top: var(--margintop);
}
.footer-follow article{
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
}
.footer-follow article a{
  color: var(--c-footer-follow);
  padding: 5px;
  transition: color 0.2s linear 0.01s;
}
.footer-follow article a:hover{
  color: var(--c-footer-follow-hover);
}
.footer-follow article a svg{
  width: 30px;
  height: 30px;
}
.footer-enlaces{
  width: fit-content;
  display: flex;
  flex-flow: column;
  /* align-content: center; */
  margin: 0 20px;
  height: 100%;
}
.footer-enlaces h3{
  margin-top: var(--margintop);
}
.footer-enlaces ul{
  list-style: none;
  margin: auto;
  padding: 0;
  margin-top: 0;
  text-align: left;
}
.footer-enlaces ul li{
  margin:5px;
}
.footer-enlaces ul li a{
  color: var(--c-footer-links);
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.2s linear 0.01s;
}
.footer-enlaces ul li a:hover{
  color: var(--c-footer-links-hover);
}
.footer section svg {
  max-width: 90vw;
}
/* css iconos contacto */
.svg-icon {
  width: 20px;
  height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--c-footer-icons);
}

.svg-icon circle {
  stroke: var(--c-footer-icons);
  stroke-width: 1;
}
.copyright h3{
  margin-top: var(--margintop);
}
.copyright p{
margin:0 20px;
min-width: 175px;
}
.copyright p a{
  color: var(--c-footer-text);
}
@media (max-width: 770px) {
  .footer section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.footer section svg {
  max-width: 90vw;
}

@keyframes inputColor {
  0% {border-bottom: #9c64f5a4 solid;}
  50% {border-bottom: rgba(204, 0, 255, 0.897) solid;}
  100% {border-bottom: #9c64f5a4 solid;}
  
}
@media (max-width: 440px) {
  .footer section {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}